<li>
  <%= gravatar_for user, size: Settings.gra_size %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !user.current_user?(current_user) %>
    <span> | </span>
    <%= link_to (t "v_u_user.delete"), user, method: :delete,
                data: {confirm: (t "v_u_user.sure_s")} %>
  <% end %>
</li>
