<% @user ||= current_user %>
<div class="stats">
  <a href="#">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    <%= t "v_sh_st.following" %>
  </a>
  <a href="#">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    <%= t "v_sh_st.follower" %>
  </a>
</div>
