@import 'bootstrap';

body {
  font-family: Karla;
}

.jumbotron {
  //background-color: #555555;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.furry-center {
  max-width: 100%;
  margin: auto;
}

.furry-center-button {
  max-width: 100%;
  margin: auto;
  text-align: center;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
  }
}

.pagination a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 0.1px solid lightgray;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.active {
  background-color: #00cc00;
  color: white;
}

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: lightgray;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

.publish_posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .title a{
    display: block;
    margin-left: 60px;
    font-weight: bolder;
    font-size: 20px;
    color: black;
  }
  .title a:visited {
    color: darkgray;
  }
  .title a:hover {
    color: orangered;
    text-decoration: none;
  }
  .content {
    display: block;
    margin-left: 60px;
  }
  .timestamp {
    color: lightgray;
    margin-left: 10px;
    display:inline;
  }
}

.comments {
  .user {
    font-size: 15px;
    margin-top: 5em;
    padding-top: 0;
  }
  .timestamp {
    color: lightgray;
    margin-left: 10px;
    display:inline;
  }
  .edit_del {
    float: right;
  }
  .edit_del a {
    margin-left: 5px;
    color: darkgray;
  }
  .edit_del a:hover {
    color: orangered;
    text-decoration: none;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  border-radius: 50%;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid lightgray;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.furry-avatar {
  margin-left: 15px;
  float: right;
  max-width: 40px;
}

.furry-drop {
  padding: 0;
}

.author-avatar {
  max-width: 100px;
}

.author-name {
  font-weight: bolder;
  font-size: 20px;
}

.author-name a:hover {
  text-decoration: none;
}

.author-info {
  padding-right: 0;
}

.welcome-you {
  font-weight: bolder;
  font-size: 25px;
  color: orangered;
}

.login-to-follow {
  margin-top: 10px;
  font-size: 20px
}

.login-to-follow a {
  color: black;
}

.login-to-follow a:hover {
  text-decoration: none;
}