<footer class="footer">
  <small>
    The <a href="http://localhost:3000">Furry Blog</a>
    by <a href="http://sonvuhong.com">@9fury</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to (t "v_l_f.about"), about_path %></li>
      <li><%= link_to (t "v_l_f.contact"), contact_path %></li>
      <li><a href="http://sonvuhong.com"><%= t "v_l_f.news" %></a></li>
    </ul>
  </nav>
</footer>